.page {
    min-width: 1100px;
    /* мы ещё не умеем делать мобильную версию сайта, */
    /* поэтому выше установлена минимальная ширина страницы */
    max-width: 1600px;
    /* выше установили ограничение по максимальной ширине */
    margin: 0 auto;
    /* выше для экранов больше 1600px отцентрировали весь контент */
    font-family: 'Helvetica Neue', Arial, sans-serif;
}

/*div, p, h1, ul, li, a{
    border: 1px solid red;
}*/

.header {
    display: flex;
    align-items: center;
    height: 100vh;
    min-height: 600px;
    max-height: 756px;
    background-color: #f2f2f2;
    margin: 0px 0px 100px;
    position: relative;
    /* выше установили ограничения для секции */
}

/* Логотип Яндекс Практикум */
.logo{    
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    width: 183px;
    height: 32px;   
}

.logo_place_header{  
    background-image: url(../images/logo.svg);   
    width: 183px;
    height: 32px; 
    top: 30px;
    left: 64px;
}

/* Заголовок 'Научиться учиться' */
.header__title{
    width: 730px;
    margin: 0px;
    z-index: 4;
    margin: 0px;
    font-size: 102px;
    font-weight: 700;
    line-height: 96px;
    padding-left: 60px;
}

/* subtitile */

.header__subtitle{
    width: 388px;
    position: absolute;
    bottom: 30px;
    left: 64px;
    font-size: 18px;
    font-weight: normal;
    line-height: 25px;
    margin: 0px;
    z-index: 3;
}

/* Убираем подчёркивание ссылки */
.header__link{
    text-decoration: none;
    color: #2F80ED;
    position: static;
}

/* Blue square*/
.header__square-pic {
    height: 568px;
    width: 568px;
    background: #2F80ED;
    position: absolute;
    right: 0px;
    top: 64px;
}

/* Изображение с картины Фёдора Решетникова 'Опять двойка' */

.header__main-illustration{
    background-image: url(../images/two_again.png);
    background-position: right;
    background-size: contain;
    background-repeat: no-repeat;
    margin: 0px;
    width:766px;
    height: 608px;
    position: absolute;
    bottom: 0px;
    right: 0px;
    z-index: 2;
}

/* Конец блока Header */

/* description; two columns */

.description{
    margin-bottom: 100px;
}

.two-columns{
    display: flex;
    width: 80%;
    justify-content: space-between;
    margin: auto;
}

.two-columns__brief{
    width: 175px;
    line-height: 1.2;
    font-size: 18px;
    font-weight: normal;
    text-decoration: none;
    color: #2F80ED;
}

.two-columns__main-text{
    width: 80%;
    min-width: 784px;    
}

.two-columns__paragraph{
    margin: 0px 0px 30px;
    line-height: 34px;
    font-size: 24px;
    font-weight: normal;
}

.two-columns__paragraph:last-of-type{
    margin:0px;
}

.two-columns__span-accent{
    font-weight: bold;
}
/* Конец блока description */

/* Начало блока Digits */

.digits{
    margin-bottom: 100px;
}

/* Заголовок Цифры и факты */

.section-title{
    width: 60%;
    margin: 0px auto 20px;
    text-align: center;
    line-height: 69px;
    font-size: 60px;
    font-weight: 700;
}

.section-subtitle{
    width: 60%;
    margin: auto;
    text-align: center;
    line-height: 34px;
    font-size: 24px;
    font-weight: normal;
}

/* вся таблица */
.table{
    width: 1100px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0px;
}

/* ячейки таблички */
.table__cell{
    width: 250px;
    margin-top: 60px;
    list-style-type: none;
    z-index: 2;
}

/* Цифра */
.table__heading{
    margin: 0px 0px 20px;
    line-height: 1.15;
    font-size: 24px;
    font-weight: 700;
}

/* Описание */
.table__text{
    margin: 0px;
    line-height: 1.2;
    font-size: 18px;
    font-weight: normal;
}

.table__text_bank{
    margin: 20px 0px 0px;
}

/* Конец блока Digits */

/* Начало блока Метод Феймана */

.feinman{
    background-image: url(../images/feinman.png);
    background-position: left bottom;
    background-color: #f2f2f2;
    background-repeat: no-repeat;
    padding-top: 100px;
    height: 790px;
    position: relative;
}

.feinman__title{
    width: 648px;
    margin: auto;
    text-align: center;
    line-height: 1.15;
    font-size: 120px;
    font-weight: 700;
}

.feinman__subtitle{
    margin: 70px auto 0px;
    width: 648px;
    text-align: center;
    line-height: 51px;
    font-size: 36px;
    font-weight: normal;
}

.feinman__link{
    margin: 0px;
    line-height: 51px;
    font-size: 36px;
    font-weight: normal;    
    position: absolute;
    top: 50%;
    right: 48px;
    text-decoration: none; 
    color: black;
}

/* Элемент kaufman start */

.kaufman{
    background-color: #1F1F1F;
    padding: 90px 0px;
    position: relative;
    z-index: 0;
    overflow: hidden;
    color: white;
}

/*.section-title_theme_dark{
    color: white;
}

.section-subtitle_theme_dark{
    color: white;
}*/


/* и элемента с модификатором вида ключ-значение */
.table__cell_theme_dark {
    width: 200px;
    color: white;
    margin-right: 0;
    margin-top: 80px;
}

/* Треугольник */
.kaufman__triangle{
    width: 877px;
    height: 877px;
    position: absolute;
    right: -210px;
    top: 0px;
    z-index: 1;
}
/* Окончание блока kaufman и всего блока main */
/* Начало блока footer */
/* Общие значение для footer */
.footer{
    background-color: #1f1f1f;
    display: flex;
    min-height: 350px;
    color: white;
}

.footer__columns{
    width: 90%;
    margin: 60px auto 40px;;
    display: flex;
    justify-content: space-between;
}

.footer__columns_content_copyright{
    flex-basis: 711px;
    position: relative;
    margin: 0px;
    display: block;
}

.logo_place_footer{
    background-image: url(../images/logo_white.svg);
    height: 35px;
    top:0px;
    left: 0px;
}

.footer__columns_content_info{
    width: auto;
    margin: 0px;
    display: block;
}

.footer__column-heading{
    margin: 0px 0px 20px;
    line-height: 30px;
    font-size: 18px;
    font-weight: 700;
}

.footer__column-links{
    padding: 0px;
    margin: 0px 0px 16px;
    
}

.footer__item{
    list-style-type: none;
}

.footer__columns_content_social{
    width: auto;
    margin: 0px;
    display: block;
}

.footer__link{
    text-decoration: none;
    color: white;
    line-height: 30px;
    font-size: 18px;
    font-weight: normal;
}

.footer__author{
    position: absolute;
    bottom: 0px;
    left: 0px;
    margin: 18px 0px;
    line-height: 25px;
    font-size: 18px;
    font-weight: normal;
}
 
.footer__social-icon{
    width: 16px;
    height: 16px;
    margin-right: 4px;
}